<% title 'Dashboard' %>

<%= render "/shared/history" %>


<h3>Recently scheduled jobs</h3>
<%- if @scheduled_jobs.any? -%>
	<% @jobs = @scheduled_jobs %>
	<%= render "/jobs/jobs" %>
<%- else -%>
	<p>No recently scheduled jobs.</p>
<%- end -%>


<h3>Recently processing jobs</h3>
<%- if @processing_jobs.any? -%>
	<% @jobs = @processing_jobs %>
	<%= render "/jobs/jobs" %>
<%- else -%>
	<p>No recently processing jobs</p>
<%- end -%>


<h3>Recently failed jobs</h3>
<%- if @failed_jobs.any? -%>
	<% @jobs = @failed_jobs %>
	<%= render "/jobs/jobs" %>
<%- else -%>
	<p>No recently failed jobs</p>
<%- end -%>

<div class="form-actions">
  <%= link_to 'View all jobs', jobs_path, class: 'btn btn-small btn-primary' %>
</div>

