<%= form_for @job do |f| %>

  <%= f.error_messages %>
  
  <fieldset>
    <legend>Job</legend>
    
    <ol>
      <li><%= f.label :source_file %></li>
      <li><%= f.text_field :source_file %></li>
      <li><%= f.label :destination_file %></li>
      <li><%= f.text_field :destination_file %></li>
      <li><%= f.label :preset_id %></li>
      <li><%= f.select :preset_id, options_for_select(Preset.all.map { |p| [p.name, p.id] }, @job.try(:preset_id) ) %></li>
    </ol>
    
  </fieldset>
  
  <ol class="buttons">
    <li><%= f.submit 'Create Job' %></li>
  </ol>
<% end %>