
<%= content_tag_for :tr, job, :class => "#{cycle('even', 'odd')} #{job.state}" do %>
  <td class="id">
    <%= link_to job.id, job %>
  </td>
  <td class="input_file" title="<%= job.source_file %>">
    <%= File.basename job.source_file %>
  </td>
  <td class="duration" title="<%= number_with_delimiter job.duration %> seconds">
    <%= number_to_time job.duration %>
  </td>
  <td class="size" title="<%= number_with_delimiter job.filesize %> bytes">
    <%= number_to_human_size job.filesize %>
  </td>
  <td class="submitted" title="<%= I18n.l job.created_at %>">
    <%= time_ago_in_words job.created_at %> ago
  </td>
  <td class="preset" title="<%= job.preset.parameters %>">
    <%= job.preset.name %>
  </td>
  <td class="host" title="<%= strip_tags host_name(job.host) if job.host %>">
    <%= job.host.try(:name) %>
  </td>
  <td class="progress <%= job.state %>" title="<%= job.message %>">
    <%= job.state.capitalize %>
    
		<%- if job.state == Job::Processing -%>
      : <span class="percentage"><%= progress_as_percentage job.progress %>%</span>
      <div class="bar">
        <div class="progress" style="width:<%= progress_as_percentage job.progress %>%"></div>
      </div>
    <%- elsif job.state == Job::Failed -%>
      <%= button_to 'Retry', retry_api_job_path(job) %>
    <%- end -%>
  </td>
	<td class="completed_after" title="<%= I18n.l job.completed_at if job.completed_at %> seconds">
		<%= number_to_time encoding_time(job) %>
	</td>
<% end %>
