<% title 'New job' %>

<%= form_tag api_jobs_path do %>
	
	<%= error_messages_for @job %>
	
	<fieldset>
    <legend>Job</legend>
    
    <ol>
      <li><%= label_tag :input %></li>
      <li><%= text_field_tag :input, @job.try(:source_file) %></li>

      <li><%= label_tag :output %></li>
      <li><%= text_field_tag :output, @job.try(:destination_file) %></li>
      
      <li><%= label_tag :preset %></li>
      <li><%= select_tag :preset, options_for_select(Preset.all.map { |p| [p.name] }, @job.try(:preset).try(:name)) %></li>
    </ol>
    
  </fieldset>
  
  <ol class="buttons">
    <li><%= submit_tag 'Create Job' %></li>
  </ol>
  

<% end %>