<% title "View Job" %>

<%- @jobs = [@job] -%>

<%= render :partial => "jobs" %>

<h2>History</h2>

<table class="items">
	<tr class="odd">
		<th>State</th>
		<th>Occurred</th>
		<th>Message</th>
	</tr>
	<% for state in @job.state_changes %>
		<tr>
			<td><%= state.state.capitalize %></td>
			<td title="<%= I18n.l state.created_at %>"><%= time_ago_in_words state.created_at, :include_seconds => true %> ago</td>
			<td><%= state.message %></td>
		</tr>
	<% end %>
</table>


<h2>Notifications</h2>

<table class="items">
	<tr class="odd">
		<th>Type</th>
		<th>Value</th>
		<th>State</th>
		<th>After</th>
	</tr>
	<% for notification in @job.notifications %>
		<tr>
			<td><%= notification.name %></td>
			<td><%= auto_link(notification.value).html_safe %></td>
			<td><%= notification.state.titleize %></td>
			<td title="<%= I18n.l notification.notified_at if notification.notified_at %>">
				<%= notified_at notification, @job %>
			</td>
		</tr>
	<% end %>
</table>

<h2>Preset parameters</h2>
<pre><%= @job.preset.parameters %></pre>

<% if @job.state == Job::Success %>
  <h2>Output</h2>
  <video src="file://<%= @job.destination_file %>" controls></video>

  <p>
    Encoding <strong title="<%= number_with_delimiter @job.duration %> seconds"><%= number_to_time @job.duration %></strong> seconds 
		took <strong title="<%= number_with_delimiter encoding_time(@job) %> seconds"><%= number_to_time encoding_time(@job) %></strong> seconds 
		and resulted in a file of <strong title="<%= number_with_delimiter destination_filesize(@job) %> bytes"><%= number_to_human_size destination_filesize(@job), :precision => 5 %></strong> which is <strong><%= compression_rate @job %>%</strong> of the original.
  </p>
<% end %>