<%= form_for [:api, @host], class: 'form-horizontal' do |f| %>

	<% if f.object.errors.any? %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        Host could not be saved
      </div>

      <div class="panel-body">
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <fieldset>
    <div class="control-group">
      <%= f.label :name, nil, class: 'control-label required' %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, nil, class: 'control-label required' %>
      <div class="controls">
        <%= f.text_field :url, class: 'form-control' %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions"> 
    <%= f.submit class: 'btn btn-primary' %> or 
    <%= link_to 'Cancel', hosts_path %>
  </div>
<% end %>
