<%= form_for @host, :url => (@host.new_record? ? api_hosts_path : api_host_path), 
                      :method => @host.new_record? ? :post : :put do %>
	
	<%= error_messages_for @host %>
	
	<fieldset>
    <legend>Host</legend>
    
    <ol>
      <li><%= label_tag :name %></li>
      <li><%= text_field_tag :name, @host.try(:name) %></li>

      <li><%= label_tag :url %></li>
      <li><%= text_field_tag :url, @host.try(:url) %></li>
    </ol>
    
  </fieldset>
  
  <ol class="buttons">
    <li><%= submit_tag @host.new_record? ? 'Create Host' : 'Edit Host' %></li>
  </ol>

<% end %>