<%= content_tag_for :div, host, :class => "#{host.available ? 'up' : 'down'} #{cycle 'left', 'right'}" do %>
  <h2>
    <%= host_name host %>: <%= host.available ? 'Available' : 'Not available' %>
  </h2>
  
  <div class="host_status">
    <% if host.available %>
      <ol>
        <li>
          Available slots: <%= host.available_slots %>
        </li>
        <li>
          Total slots: <%= host.total_slots %>
        </li>
        <li>
          Used slots: <%= host.total_slots - host.available_slots %>
        </li>
      </ol>
    <% end %>
  </div>
  
  <%= link_to 'Edit', edit_host_path(host) %> - 
  <%= link_to 'Delete', api_host_path(host), :method => :delete %>
    
<% end %>
