<%= form_for @preset do |f| %>

  <%= f.error_messages %>
  
  <fieldset>
    <legend>Preset</legend>

    <ol>
      <li><%= f.label :name, :class => 'required' %></li>
      <li><%= f.text_field :name %></li>
      <li><%= f.label :parameters, :class => 'required' %></li>
      <li><%= f.text_area :parameters %></li>
    </ol>

  </fieldset>

  <ol class="buttons">
    <li><%= f.submit %></li>
  </ol>
  
<% end %>