<%= content_tag_for :li, preset, :class => cycle('left', 'right') do %>

  <h2><%= preset.name %></h2>
  <pre><%= preset.parameters %></pre>
  
  <%= link_to 'Edit', edit_preset_path(preset) %>
  <%= link_to 'Delete', preset_path(preset), :method => :delete, :confirm => "Are you sure?" %>
  
<% end %>
