<%= content_tag_for :div, preset, class: 'span6' do %>
  <h3><%= preset.name %></h3>
  <pre><%= preset.parameters %></pre>
  <%= link_to 'Edit', edit_preset_path(preset), class: 'btn btn-mini' %> 
  <%= link_to 'Delete', api_preset_path(preset), class: 'btn btn-mini confirm', method: :delete %>
<% end %>
