<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </a>  
      <%= link_to 'Codem', root_url, class: 'brand' %>
      <div class="nav-collapse">  
        <ul class="nav">  
          <li><%= link_to "Home", root_path %></li>  
          <li><%= link_to "Jobs", jobs_path %></li>  
          <li><%= link_to "Hosts", hosts_path %></li>  
          <li><%= link_to "Presets", presets_path %></li>  
        </ul>  
      </div>  
    </div>  
  </div>  
</div>  

