<ul class="nav nav-list">
  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>  
  <li class="<%= 'active' if current_page?(jobs_path) %>"><%= link_to "Jobs", jobs_path %></li>  
  <li class="<%= 'active' if current_page?(hosts_path) %>"><%= link_to "Hosts", hosts_path %></li>  
  <li class="<%= 'active' if current_page?(presets_path) %>"><%= link_to "Presets", presets_path %></li>  
</ul>

