<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Scheduler</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <%= render "/layouts/menu" %>
</header>

<section id="content">
  <% flash.each do |name, message| %>
    <div id="<%= name %>"><%= h message %></div>
  <% end %>
  
  <h1><%= yield :title %></h1>

  <%= yield %>
</section>

</body>
</html>
